<div class="VideoPortal-page HomePage">
  <div class="SpotLight-container">
    <div class="u-contentCenter">
      <div class="SpotLightList ms-Grid">
        <div class="ms-Grid-row">
          <div class="SpotLight-item ms-u-md6 ms-u-lg4" ng-repeat="popularVideo in vm.PopularVideos | limitTo : 3">
            <div class="SpotLight-thumb">
              <a ng-href="{{ popularVideo.PlaybackUrl }}" class="SpotLight-thumbLink">
                <img class="SpotLight-thumbImg" ng-src="{{ popularVideo.ThumbnailUrl }}&Width=600" title="{{ popularVideo.Title }}" alt="{{ popularVideo.Title }}">
              </a>
            </div>
            <div class="SpotLight-text ms-font-s-plus">
              <a ng-href="{{ popularVideo.PlaybackUrl }}">
                <span class="SpotLight-videoTitle">{{ popularVideo.Title }}</span>
                <span class="SpotLight-videoLength">{{ popularVideo.VideoDurationInSeconds | secondsToDateTime | date:'HH:mm:ss' }}</span>
              </a>
            </div>
          </div>                
        </div>
      </div>
    </div>
  </div>  
  
  <div class="HomePage-content u-contentCenter">
    <div class="HomePage-contentCell">
      <div class="ChannelList">
        <div class="ChannelList-item" ng-repeat="channel in vm.Channels">
          <h3 class="ChannelList-title" ng-style="{ 'border-color': channel.TileHtmlColor }">
            <span class="ChannelList-titleText ms-font-xl">{{ channel.Title }}</span>
          </h3>

          <div class="ChannelList-videos ms-Grid">
            <div class="ms-Grid-row">
              <div class="VideoList-item ms-Grid-col ms-Grid ms-u-sm12 ms-u-md6 ms-u-lg4 ms-u-xl3" ng-repeat="video in vm.Videos | filter : { ChannelID: channel.Id }">
                <div class="ms-Grid-row">
                  <div class="VideoList-thumb ms-Grid-col ms-u-sm12 ms-u-lg12">
                    <a ng-href="{{ video.PlaybackUrl }}" class="VideoList-thumbLink">
                      <img class="VideoList-thumbImg" ng-src="{{ video.ThumbnailUrl }}&Width=290" alt="{{ video.Title }}">
                      <span class="VideoList-thumbCaption">{{ video.VideoDurationInSeconds | secondsToDateTime | date:'HH:mm:ss' }}</span>   
                    </a>
                  </div>
                  <div class="VideoList-text ms-Grid-col ms-u-sm12 ms-u-lg12">
                    <a ng-href="{{ video.PlaybackUrl }}"><span class="VideoList-title ms-font-m-plus" title="{{ video.Title }}">{{ video.Title }}</span></a>
                    <span class="VideoList-viewCount ms-font-s-plus ms-fontColor-neutralSecondaryAlt">{{ video.ViewCount > 0 ? video.ViewCount : 0 }} views</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>              
      </div>
    </div>
  </div>
</div>