<div id="page-navigation" class="ms-NavBar" ng-controller="AdalController as adal">
  <ul class="ms-NavBar-items">
    <li class="ms-NavBar-item ms-NavBar-item--search ms-u-hiddenSm">
      <div class="ms-TextField">
        <input class="ms-TextField-field" type="text">
      </div>
    </li>
    <li class="ms-NavBar-item">
      <i class="ms-Icon ms-Icon--home" aria-hidden="true"></i>
      <a class="ms-NavBar-link" ui-sref="root.home">Home</a>
    </li>
    <li class="ms-NavBar-item">
      <i class="ms-Icon ms-Icon--mail" aria-hidden="true"></i>
      <a class="ms-NavBar-link" ui-sref="root.messages">Messages</a>
    </li>
    <li class="ms-NavBar-item">
      <i class="ms-Icon ms-Icon--folder" aria-hidden="true"></i>
      <a class="ms-NavBar-link" ui-sref="root.files">Files</a>
    </li>
    <li class="ms-NavBar-item">
      <i class="ms-Icon ms-Icon--video" aria-hidden="true"></i>
      <a class="ms-NavBar-link" ui-sref="root.videos">Videos</a>
    </li>
    <li class="ms-NavBar-item is-disabled">
      <i class="ms-Icon ms-Icon--sites" aria-hidden="true"></i>
      <a class="ms-NavBar-link" href="#">Sites</a>
    </li>
  </ul>
</div>