<!--div id="suiteBarTop" class="ms-fullWidth removeFocusOutline" style="height:50px; position:relative;">
    <div autoid="_o365sg2c_k" class="o365cs-nav-header16 o365cs-base o365cst o365spo o365cs-nav-header o365cs-topnavBGColor-2 o365cs-topnavBGImage o365cs-rsp-off" id="O365_NavHeader">
        <div class="o365cs-nav-leftAlign">  
            <div class="o365cs-nav-topItem o365cs-rsp-m-hide o365cs-rsp-tn-hideIfAffordanceOn" style="display: none;"></div>
            <div class="o365cs-nav-topItem o365cs-rsp-m-hide o365cs-rsp-tw-hide o365cs-rsp-tn-hideIfAffordanceOff" style="display: none;"></div>
            <div class="o365cs-nav-topItem ms-fcl-w o365cs-rsp-tn-hideIfAffordanceOn" style="display: none;"></div>
            <div class="o365cs-nav-topItem o365cs-nav-o365Branding o365cs-rsp-tn-hideIfAffordanceOn">
                <a class="o365cs-nav-bposLogo o365cs-topnavText o365cs-o365logo o365cs-rsp-tw-hide o365cs-rsp-tn-hide o365button" role="link" id="O365_MainLink_Logo" href="https://portal.office.com/Home" aria-label="Go to your Office 365 home page"><span class="o365cs-nav-brandingText">Office 365</span><span class="wf wf-family-o365 wf-o365-x36 o365cs-nav-gallatinLogo"></span></a>
                <div class="o365cs-nav-appTitleLine o365cs-nav-brandingText o365cs-topnavText o365cs-rsp-tw-hide o365cs-rsp-tn-hide"></div>
                <a class="o365cs-nav-appTitle o365cs-topnavText o365button" role="link" href="/Home/Index" aria-label="Go to team sites"><span class="o365cs-nav-brandingText">TEST TEST</span></a>
                <div class="o365cs-nav-topItem o365cs-breadCrumbContainer o365cs-rsp-tw-hide o365cs-rsp-tn-hide" style="display: none;"></div> 
            </div>
            <div class="o365cs-nav-centerAlign">
                <div class="o365cs-rsp-tw-hide o365cs-rsp-tn-hide" style="display: none;"></div>
                <div class="o365cs-rsp-tw-hide o365cs-rsp-tn-hide" style="display: none;"></div>
            </div>
            <div class="o365cs-nav-rightAlign o365cs-topnavLinkBackground-2" id="O365_TopMenu">
                <div>
                    <div class="o365cs-nav-rightMenus"> 
                      <div role="banner" aria-label="User settings">

                        <div class="o365cs-nav-topItem o365cs-rsp-tn-hideIfAffordanceOff" style="display: none;"></div>
                        <div class="o365cs-nav-topItem o365cs-rsp-tn-hideIfAffordanceOn">
                          <button autoid="_o365sg2c_0" type="button" class="o365cs-nav-item o365cs-nav-button ms-fcl-w o365cs-me-nav-item o365button ms-bgc-tdr-h" role="menuitem" aria-label="CIE Administrator offline menu with submenu" aria-haspopup="true">
                            <div class="o365cs-me-tileview-container">
                              <div autoid="_o365sg2c_1" class="o365cs-me-tileview">
                                <div autoid="_o365sg2c_2" class="o365cs-me-presence5x50 o365cs-me-presenceColor-Offline"></div>
                                <span autoid="_o365sg2c_3" class="ms-bgc-nt ms-fcl-w o365cs-me-tileimg o365cs-me-tileimg-doughboy owaimg ms-Icon--person ms-icon-font-size-52" role="presentation"> </span>
                                <div>
                                  <div class="o365cs-me-tileimg">
                                    <img autoid="_o365sg2c_4" class="o365cs-me-personaimg" src="/_layouts/15/userphoto.aspx?size=S&amp;accountname=admin%40slevertcie01.onmicrosoft.com" title="CIE Administrator" style="display: inline; width: 50px; top: 0px;">
                                  </div>
                                </div>
                                <div class="o365cs-me-tileimg">
                                  <img autoid="_o365sg2c_5" class="o365cs-me-personaimg" title="CIE Administrator" src="https://outlook.office365.com/owa/service.svc/s/GetPersonaPhoto?email=admin@slevertcie01.onmicrosoft.com&amp;UA=0&amp;size=HR64x64&amp;sc=1450017000194" style="display: inline width: 50px; top: 0px;">
                                </div>
                              </div>
                            </div>
                            <div style="display: none;"></div>
                          </button>
                        </div>
                      </div> 
                  </div>
                </div>
            </div>
        </div>
    </div>
</div-->

<div id="page-navigation" class="ms-NavBar" ng-controller="AdalController as adal">
  <ul class="ms-NavBar-items">
    <li class="ms-NavBar-item ms-NavBar-item--search ms-u-hiddenSm">
      <div class="ms-TextField">
        <input class="ms-TextField-field" type="text">
      </div>
    </li>
    <li class="ms-NavBar-item">
      <i class="ms-Icon ms-Icon--home" aria-hidden="true"></i>
      <a class="ms-NavBar-link" ui-sref="root.home">Home</a>
    </li>
    <li class="ms-NavBar-item">
      <i class="ms-Icon ms-Icon--mail" aria-hidden="true"></i>
      <a class="ms-NavBar-link" ui-sref="root.messages">Messages</a>
    </li>
    <li class="ms-NavBar-item">
      <i class="ms-Icon ms-Icon--video" aria-hidden="true"></i>
      <a class="ms-NavBar-link" ui-sref="root.videos">Videos</a>
    </li>
    <li class="ms-NavBar-item is-disabled">
      <i class="ms-Icon ms-Icon--folder" aria-hidden="true"></i>
      <a class="ms-NavBar-link" href="#">Files</a>
    </li>
    <li class="ms-NavBar-item is-disabled">
      <i class="ms-Icon ms-Icon--sites" aria-hidden="true"></i>
      <a class="ms-NavBar-link" href="#">Sites</a>
    </li>
    <li class="ms-NavBar-item ms-NavBar-item--right" ng-if="!userInfo.isAuthenticated">
      <a class="ms-NavBar-link" ng-click="adal.login()">Login</a>
    </li>
    <li class="ms-NavBar-item ms-NavBar-item--right" ng-if="userInfo.isAuthenticated">
      <a class="ms-NavBar-link" ng-click="adal.logout()">Logout</a>
    </li>
    <li class="ms-NavBar-item is-disabled ms-NavBar-item--right" ng-if="userInfo.isAuthenticated">
      <div class="ms-Persona ms-Persona--xs">
        <div class="ms-Persona-imageArea">
          <div class="ms-Persona-imageCircle">
            <i class="ms-Persona-placeholder ms-Icon ms-Icon--person"></i>
            <img class="ms-Persona-image" ng-src="{{ adal.userPhoto }}">
          </div>
        </div>
        <div class="ms-Persona-details">
          <a class="ms-NavBar-link">{{ userInfo.profile.name }}</a>
        </div>
      </div>
    </li>
  </ul>
</div>